- if @week.completed_hours.to_i >= @week.available_hours.to_i
  .alert-message.success
    %p= "Geschafft! <b>#{@week.completed_hours}h</b> von <b>#{@week.planned_hours}h</b> sind erledigt!".html_safe
- else
  .alert-message.warning
    %p= "Es sind <b>#{@week.completed_hours}h</b> von <b>#{@week.planned_hours}h</b> erledigt. Auf geht's!".html_safe