- if @week.planned_hours.to_i > @week.available_hours.to_i
  .alert-message.warning.error= "Es sind mehr Stunden eingeplant als verfügbar sind! <b>(#{@week.planned_hours}/#{@week.available_hours}h)</b>".html_safe
- else
  .alert-message.warning.warning= "Es sind <b>#{@week.planned_hours}h</b> von <b>#{@week.available_hours || 0}h</b> eingeplant".html_safe