.block.grey
  %h1 Wochenübersicht
  %ul.list
    - @weeks.each do |week|
      %li
        %p= "Woche #{week.nr}"
        = link_to 'bearbeiten', edit_week_path(week)
        = link_to 'löschen', week_path(week), :method => :delete, :confirm => "Woche ##{week.nr} wirklich löschen?"