- content_for :page_title do
  Wochenübersicht

%table
  - @weeks.each do |week|
    %tr
      %td{ :width => 300 }
        %p= "Woche #{week.nr}"
      %td
        = link_to 'Löschen', week_path(week), :method => :delete, :confirm => "Woche ##{week.nr} wirklich löschen?", :class => 'btn small error'
        = link_to 'Bearbeiten', edit_week_path(week), :class => 'btn small primary'