%tr.todo-list{ :id => "todo-list-#{todo_list.id}"}
  %td.big-num
    = "#{todo_list.estimate}h"
  %td
    .big= todo_list.name
    .dimmed= todo_list.project.name
  - if action == :complete
    %td
      = link_to 'Abschliessen', todo_list_path(todo_list), :class => :button

  - elsif action == :edit
    %td
      = link_to 'Aus Woche entfernen', weeks_todo_list_path(WeekTodoList.find_by_week_id_and_todo_list_id(@week.id, todo_list.id)), :method => :delete, :remote => true, :class => :button

  - else
    %td
      = link_to 'Hinzufügen', weeks_todo_lists_path(:week_id => params[:week_id].presence, :todo_list_id => todo_list.id ), :remote => true, :method => :post, :class => :button