.todo-list
  = todo_list.name
  - if !todo_list.weeks.exists?(params[:week_id])
    = simple_form_for :week_todo_list, :url => weeks_todo_lists_path, :remote => true do |f|
      = f.input :week_id, :as => :hidden, :input_html => { :value => params[:week_id].presence }
      = f.input :todo_list_id, :as => :hidden, :input_html => { :value => todo_list.id }
      = f.submit
  - else
    destroy
    